body{
  font-family: Source sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background: url("black background.jfif");
}
.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkslategrey;
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2;
  justify-content: center;
}
Navbar{
   background: url("https://image.tmdb.org/t/p/w500//4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg");
}